.full-cart-container {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cart-info-container {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: 300;
}


.cart-totaL-price {
    font-size: 24px;
}

.total {
    color: var(--money-color);
}

.cart-products-container {
    height: min-content;
    width: 100%;
    color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-product-box {
    width: 70vw;
    height: 275px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid var(--border-outline);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cart-img-container {
    height: 100%;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.cart-img-preview {
    width: 100%;
}

.cart-product-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cart-product-name {
    font-size: 23px;
    font-weight: 600;
}

.cart-product-description {
    font-size: 15px;
    opacity: .5;
    font-weight: 300;
}

.cart-product-price {
    margin-top: 20px;
    font-size: 23px;
    color: lime;
    font-weight: 200;
}

.cart-product-count-container {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 5%;
    bottom: 5%;
}


.cart-product-count {
    width: 70px;
    height: 35px;
    background-color: transparent;
    border: 1px solid var(--border-outline);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: lime;
    user-select: none;
}

.add-symbol {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 860px) {
    .cart-product-box {
        width: 80vw;
    }
}

@media only screen and (max-width: 700px) {
    .cart-product-box {
        width: 90vw;
        height: 70vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cart-img-preview {
        width: 60vw;
    }
    .cart-product-name {
        font-size: 20px;
    }
}

@media only screen and (max-width: 840px) {

}