.home-info-container {
    width: 100vw;
    height: calc(100% - 100px);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 50px;
}

.home-bg-container {
    width: 100vw;
    height: 300px;
    background-image: url('../images/cycle-hill.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50vh;
}

.home-shop-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop-btn {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 221, 221);
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all .4s;
}

.shop-btn:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
    transition: all .4s;
}

.photo-attr {
    font-size: 14px;
    opacity: .3;
    position: absolute;
    left: 0;
    bottom: 0;
}

.photo-attr a {
    color: #fff;
}

.photo-attr a:visited {
    color: #fff;
}

.main-heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sub-heading {
    display: flex;
    flex-direction: column;
    width: 40vw;
    font-size: 16px;
    font-weight: 500;
    opacity: .7;
}

@media only screen and (max-width: 1000px) {
    .sub-heading {
        width: 55vw;
    }
}

@media only screen and (max-width: 700px) {
    .home-info {
        align-items: center;
    }
    .sub-heading {
        width: 65vw;
        text-align: center;
    }
}


@media only screen and (max-width: 500px) {
    .main-heading {
        font-size: 26px;
    }
    .sub-heading {
        width: 90vw;
        height: 400px;
    }
    .home-bg-container {
        top: 53vh;
    }
}


