.nav-container {
    width: 100vw;
    height: 100px;
    background-color: var(--nav-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.nav-logo {
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    font-size: 26px;
}

.nav-links a {
    color: var(--nav-a-color);
    text-decoration: none;
    padding: 15px;
    transition: all .4s;
}

.nav-links a:visited {
    color: var(--nav-a-color);
}

.nav-links a:hover {
    cursor: pointer;
    color: var(--nav-a-hover);
    font-size: 20px;
    padding: 17px;
    transition: all .4s;
}
 
.menu-icon {
    width: 0;
    height: 0;
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 1;
}


@media only screen and (max-width: 700px) {
    .nav-links {
        transform: translateX(500px);
    }
    .menu-icon {
        width: 35px;
        height: 35px;
        opacity: 1;
        cursor: pointer;
    }
    .nav-links.show {
        width: 220px;
        height: 100vh;
        z-index: 99;
        display: flex;
        flex-direction: column;
        background-color: var(--nav-bg);
        transform: translateX(0);
        position: absolute;
        top: 11%;
        right: 0;
        transition: all .4s;
    }
}


@media only screen and (max-width: 550px) {
    .nav-links.show {
        width: 170px;
    }
}