.full-products-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.displayed-products-container {
    width: calc(100vw - 250px);
    height: min-content;
    padding-top: 10px;
    margin-top: 100px;
    margin-left: 250px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-content: center;
    grid-gap: 10vh 10vw;
    padding-bottom: 30px;
}

.product-box {
    border: 1px solid var(--background);
    width: 250px;
    height: 280px;
    padding-top: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    border: 1px solid transparent;
    transition: var(--transition-long);
    text-decoration: none;
}


.product-box:hover {
    border: 1px solid var(--border-outline);
    transition: var(--transition-long);
}

.product-image-displayed {
    width: 250px;
}

.product-name {
    width: 100%;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.product-price {
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    opacity: .8;
    color: lime;
    text-decoration: none;
}


@media only screen and (max-width: 1300px) {
    .displayed-products-container {
        grid-gap: 6vh 3vw;
    }
}

@media only screen and (max-width: 1100px) {
    .displayed-products-container {
        grid-template-columns: repeat(2, auto);
        grid-gap: 6vh 10vw;
    }

    .product-box {
        width: 200px;
    }

    .product-image-displayed {
        width: 200px;
    }
}

@media only screen and (max-width: 900px) {
    .displayed-products-container {
        grid-gap: 5vh 5vw;
        grid-template-columns: auto;
    }

    .product-box {
        width: 250px;
    }

    .product-image-displayed {
        width: 250px;
    }
}

@media only screen and (max-width: 700px) {
    .displayed-products-container {
        grid-gap: 8vh 8vw;
        grid-template-columns: repeat(2, auto);
    }

    .product-box {
        width: 220px;
    }

    .product-image-displayed {
        width: 220px;
    }

    .displayed-products-container {
        margin-left: 0;
    }

    .categories-full-container {
        transform: translateX(-250px);
        position: fixed;
        transition: var(--transition-short);
    }

    .displayed-products-container {
        width: calc(100vw + 250px);
    }

    .categories-full-container.show {
        transform: translateX(0);
        transition: var(--transition-short);
        z-index: 999;
        position: fixed;
    }

    .category-icon {
        width: 35px;
        height: 35px;
        opacity: 1;
    }
}


@media only screen and (max-width: 500px) {
    .displayed-products-container {
        grid-gap: 10vh 10vw;
        grid-template-columns: auto;
    }

    .product-box {
        width: 250px;
    }

    .product-image-displayed {
        width: 250px;
    }
    .categories-full-container.show {
        width: 100vw;
        position: fixed;
    }

    .displayed-products-container.no-scroll {
        overflow-y: hidden;
    }

    .category-icon {
        width: 25px;
        height: 25px;
    }
}