.full-products-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.categories-full-container {
    height: calc(100% - 100px); /*100px is the height of the nav bar*/
    width: 250px;
    margin-top: 100px;
    background-color: var(--nav-bg);
    position: fixed;
    top: 0;
}


.displayed-products-container {
    width: calc(100vw - 250px);
    height: min-content;
    padding-top: 10px;
    margin-top: 100px;
    margin-left: 250px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-content: center;
    grid-gap: 10vh 10vw;
    padding-bottom: 30px;
}

.product-box {
    border: 1px solid black;
    width: 250px;
    height: 280px;
    padding-top: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s;
}

.product-box:hover {
    border: 1px solid #fff;
    transition: all .5s;
}

.product-image-displayed {
    width: 250px;
}

.product-name {
    width: 100%;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.product-price {
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    opacity: .5;
}

.category-icon {
    width: 0;
    height: 0;
    position: fixed;
    top: 40px;
    left: 5%;
    cursor: pointer;
    opacity: 0;
    z-index: 9999;
}

.categories-heading-container {
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-options-container {
    width: 100%;
    height: calc(100% - 50px);
}

.category-container {
    width: 100%;
    height: calc(20% - 8px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    margin-bottom: 8px;
}

.category-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    font-size: 22px;
    transition: all .4s;
}

.category-name:hover {
    background-color: rgba(0, 0, 0, .2);
    transition: all .4s;
    cursor: pointer;
}

.category-container.active {
    border: 2px solid rgba(255, 255, 255, .5);
}

.all-products {
    background-image: url('../images/all-products.jpg');
}

.road-bike-container {
    background-image: url('../images/road-bike.jpg');
}

.ebikes-container {
    background-image: url('../images/ebike.jpg');
}

.helmets-container {
    background-image: url('../images/helmet.jpg');
}

.clothing-container {
    background-image: url('../images/clothing.jpg');
}

@media only screen and (max-width: 1300px) {
    .displayed-products-container {
        grid-gap: 6vh 3vw;
    }
}

@media only screen and (max-width: 1100px) {
    .displayed-products-container {
        grid-template-columns: repeat(2, auto);
        grid-gap: 6vh 10vw;
    }
    .product-box {
        width: 200px;
    }
    .product-image-displayed {
        width: 200px;
    }
}

@media only screen and (max-width: 900px) {
    .displayed-products-container {
        grid-gap: 5vh 5vw;
        grid-template-columns: auto;
    }
    .product-box {
        width: 250px;
    }
    .product-image-displayed {
        width: 250px;
    }
}

@media only screen and (max-width: 700px) {
    .displayed-products-container {
        grid-gap: 8vh 8vw;
        grid-template-columns: repeat(2, auto);
    }
    .product-box {
        width: 220px;
    }
    .product-image-displayed {
        width: 220px;
    }
    .displayed-products-container {
        margin-left: 0;
    }
    .categories-full-container {
        transform: translateX(-250px);
        position: fixed;
        transition: all .4s;
    }
    .displayed-products-container {
        width: calc(100vw + 250px);
    }
    .categories-full-container.show {
        transform: translateX(0);
        transition: all .4s;
        z-index: 999;
        position: fixed;
    }
    .category-icon {
        width: 35px;
        height: 35px;
        opacity: 1;
    }
}


@media only screen and (max-width: 500px) {
    .displayed-products-container {
        grid-gap: 10vh 10vw;
        grid-template-columns: auto;
    }
    .product-box {
        width: 250px;
    }
    .product-image-displayed {
        width: 250px;
    }
    .categories-full-container.show {
        width: 100vw;
        position: fixed;
    }
    .displayed-products-container.no-scroll {
        overflow-y: hidden;
    }
    .category-icon {
        width: 25px;
        height: 25px;
    }
}