:root {
  --background: #04030F;
  --nav-bg: #04030F;
  --nav-a-color: rgb(175, 171, 171);
  --nav-a-hover: #73EEDC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--background);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}